<ul class="sidebar-menu my-scroll-area" id="sidebar-menu" ng-nicescroll>
  <li class="submenu">
    <a href="javascript:void(0);" (click)="navigationService.activityPage()">
      <span class="icon">
        <i class="fa fa-list-alt"></i>
      </span>
      <span class="text">Actividades</span>
    </a>
    <ul>

    </ul>
  </li>
  
  <li class="submenu">
    <a href="javascript:void(0);" (click)="navigationService.userAccountPage()">
      <span class="icon">
        <i class="fa fa-cogs"></i>
      </span>
      <span class="text">Cuentas de Usuario</span>
      
    </a>
    <ul>
      
    </ul>
  </li>

</ul>