<form id="formEditPassword" [formGroup]="formEditPassword" autocomplete="off">
  <div class="form-body">
    <div class="form-group">
      <label class="control-label">Usuario</label>
      <input formControlName="login" class="form-control rounded" type="text" readonly>
      <label class="control-label">Contraseña</label><span class="required-field">*</span>
      <input formControlName="password" class="form-control rounded" type="password"
        [ngClass]="{'invalid-field': isSubmitted && this.formEditPassword.controls.password.invalid}">
      <div *ngIf="isSubmitted && this.formEditPassword.controls.password.errors">
        <div *ngIf="isSubmitted && this.formEditPassword.controls.password.errors.required" class="invalid-text">
          El campo
          es
          obligatorio</div>
        <div *ngIf="isSubmitted && this.formEditPassword.controls.password.errors.minLength" class="invalid-text">El
          campo debe contener mínimo 3 caracteres</div>
      </div>
      <label class="control-label">Confirmar Contraseña</label><span class="required-field"> *</span>
      <input formControlName="confirmPassword" class="form-control rounded" type="password"
        [ngClass]="{'invalid-field': isSubmitted && this.formEditPassword.controls.confirmPassword.invalid}">
      <div *ngIf="isSubmitted && this.formEditPassword.controls.confirmPassword.errors">
        <div *ngIf="isSubmitted && this.formEditPassword.controls.confirmPassword.errors.required" class="invalid-text">
          El campo
          es
          obligatorio</div>
      </div>
    </div><!-- /.form-group -->
  </div>
</form>
<ngx-spinner type="line-spin-clockwise-fade-rotating" size = "default">
  <!--Spinner message-->
  <p></p>
</ngx-spinner>