<div [@fadeInAnimation] class="panel panel-info rounded shadow">
  <div class="panel-heading">
    <div class="pull-left">
      <h3 class="panel-title">Cambiar Contraseña</h3>
    </div>
    <div class="clearfix"></div>
  </div>

  <form id="formChangePassword" [formGroup]="formChangePassword" autocomplete="off">
    <div class="form-body">
      <div class="form-group">
        <div class="form-group col-sm-12">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label">Contraseña Actual</label><span class="required-field"> *</span>
              <input formControlName="oldPassword" class="form-control rounded" type="password"
                [ngClass]="{'invalid-field': isSubmitted && this.formChangePassword.controls.oldPassword.invalid}">
              <div *ngIf="isSubmitted && this.formChangePassword.controls.oldPassword.errors">
                <div *ngIf="isSubmitted && this.formChangePassword.controls.oldPassword.errors.required"
                  class="invalid-text">
                  El campo
                  es
                  obligatorio</div>
              </div>
            </div>
          </div>
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label">Contraseña Nueva</label><span class="required-field">*</span>
              <input formControlName="newPassword" class="form-control rounded" type="password"
                [ngClass]="{'invalid-field': isSubmitted && this.formChangePassword.controls.newPassword.invalid}">
              <div *ngIf="isSubmitted && this.formChangePassword.controls.newPassword.errors">
                <div *ngIf="isSubmitted && this.formChangePassword.controls.newPassword.errors.required"
                  class="invalid-text">
                  El campo
                  es
                  obligatorio</div>
                <div *ngIf="isSubmitted && this.formChangePassword.controls.newPassword.errors.minLength"
                  class="invalid-text">
                  El
                  campo debe contener mínimo 6 caracteres</div>
              </div>
            </div>
          </div>
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label">Confirmar Contraseña</label><span class="required-field"> *</span>
              <input formControlName="confirmPassword" class="form-control rounded" type="password"
                [ngClass]="{'invalid-field': isSubmitted && this.formChangePassword.controls.confirmPassword.invalid}">
              <div *ngIf="isSubmitted && this.formChangePassword.controls.confirmPassword.errors">
                <div *ngIf="isSubmitted && this.formChangePassword.controls.confirmPassword.errors.required"
                  class="invalid-text">
                  El campo
                  es
                  obligatorio</div>
              </div>
            </div>
          </div>
        </div><!-- /.form-group -->
      </div><!-- /.form-group -->
    </div>
    <div class="form-footer">
      <button type="button" class="btn btn-danger button" (click)="cancel()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="submit()">Aceptar</button>
    </div>
  </form>
  <ngx-spinner type="line-spin-clockwise-fade-rotating" size = "default">
    <!--Spinner message-->
    <p></p>
  </ngx-spinner>
</div>